.App {
  text-align: center;
}

.App-logo {
  width: 350px;
  height: auto;
  /* height: 40vmin; */
  pointer-events: none;
}

.fetchButton { 
  box-sizing: border-box;
  padding: 5px; 
  height: 50px;
  width: 350px;
  font-size:x-large;
  margin-top: 20px;
  font-weight:bolder;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
